* {
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100%;
	padding: 20px 20px;
	background-color: white;
	color: black;
	font-family: 'Noto Sans TC', sans-serif;
}

.pageHeader,
.pageMain {
	padding: 0 20px;
	max-width: 1000px;
	margin: 0 auto;
}

.pageHeader {
	.pageTitle {
		margin-bottom: 4px;
		user-select: none;
	}

	.pageSubtitle {
		margin-top: 0.25em;
		color: dimgray;
		user-select: none;
	}
}

.pageTitle {
	width: 400px;
	max-width: 100%;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("https://assets.codepen.io/1177378/alphabetizer_small.png");
	background-position: left center;
}

.advancedOptionTitle {
	margin: 0;
	margin-top: 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.advancedOptionInput {
	margin-top: 8px;
	margin-bottom: 20px;
	width: 100%;
}

.advancedOptionsButton {
	all: unset;
	font-size: small;
	text-decoration: underline;
	font-weight: bold;
	color: purple;
	user-select: none;
	cursor: pointer;
}

.pageMain {
	display: grid;
	grid-template: auto 1fr auto / 1fr 1fr;
	grid-gap: 20px;
}

.bodySection {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.bodySectionTitle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 0;
	margin-bottom: 6px;
	min-height: 30px;
	user-select: none;
}

.advancedOptionInput,
.textInput,
.textOutput {
	resize: none;
	padding: 12px;
	border-radius: 3px;
	border: 1px solid gray;
}

.textInput,
.textOutput {
	width: 100%;
	min-height: 100px;
}

.textOutput {
	background-color: #eee;
	border-color: #ddd;
	outline: none;
}

.copyButton {
	all: unset;
	color: purple;
	font-size: inherit;
	font-weight: inherit;
	text-decoration: underline;
	cursor: pointer;

	&:hover {
		// CSS brought to you by a backend dev
		filter: brightness(85%);
	}
}

.githubButtons {
	user-select: none;
}

.previewWrapper {
	min-height: 35px;

	img {
		height: 30px;
	}
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.advancedOptionsSection {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(black, 0.3);
	padding: 20px;
	
	display: flex;
	justify-content: center;
	overflow: auto;
}

.advancedOptionsContainer {
	margin-top: auto;
	margin-bottom: auto;
	display: grid;
	grid-template: auto / 1fr;
	grid-gap: 0 20px;
	
	background: white;
	padding: 20px;
	border-radius: 3px;
}

.advancedOptionListItem {
	display: flex;
	flex-direction: row;
	list-decoration: none;
	padding: 0;
	margin-top: 12px;
	
	.advancedOptionInput {
		flex-basis: 44%;
		margin: 0;
		margin-right: 4%;
		
		&:last-of-type {
			margin-right: 0;
		}
	}
}

.advancedOptionXButton {
	all: unset;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	max-width: 20px;
	margin-left: auto;
}

.spacesBetweenEmojisInput {
	width: auto;
}

/* Small screen */
@media (max-width: 600px) {
	.pageMain {
		display: flex;
		flex-direction: column;
	}

	.bodySection {
		&:not(:first-child) {
			margin-left: 0;
		}
	}
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	body {
		background-color: #222;
		color: white;
	}

	.pageHeader {
		.pageSubtitle {
			color: #bbb;
		}
	}
	
	.advancedOptionsContainer {
		background-color: #222;
	}

	.advancedOptionInput,
	.textInput {
		background-color: #444;
		color: white;
	}

	.textOutput {
		background-color: #333;
		border-color: #111;
		color: white;
	}

	.advancedOptionsButton,
	.copyButton {
		color: lightblue;
	}

	.advancedOptionsButton {
		font-size: 12px;
		vertical-align: top;
	}
}
