* {
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100%;
	padding: 20px 20px;
	background-color: white;
	color: black;
	font-family: 'Noto Sans TC', sans-serif;
}

.pageHeader,
.pageMain {
	padding: 0 20px;
	max-width: 1000px;
	margin: 0 auto;
}

.pageHeader {
	.pageTitle {
		margin-bottom: 4px;
		user-select: none;
	}

	.pageSubtitle {
		margin-top: 0.25em;
		color: dimgray;
		user-select: none;
	}
}

.pageTitle {
	width: 400px;
	max-width: 100%;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("https://assets.codepen.io/1177378/alphabetizer_small.png");
	background-position: left center;
}

.pageMain {
	display: grid;
	grid-template: 135px 135px / 1fr 1fr;
	grid-gap: 20px;
}

.bodySection {
	flex: 1;
	display: flex;
	flex-direction: column;

	.bodySectionTitle {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-top: 0;
		margin-bottom: 6px;
		min-height: 30px;
		user-select: none;
	}
}

.textInput,
.textOutput {
	width: 100%;
	min-height: 100px;
	resize: none;
	padding: 12px;
	border-radius: 3px;
}

.textOutput {
	background-color: #eee;
	border-color: #ddd;
	outline: none;
}

.copyButton {
	all: unset;
	color: purple;
	font-size: inherit;
	font-weight: inherit;
	text-decoration: underline;
	cursor: pointer;

	&:hover {
		// CSS brought to you by a backend dev
		filter: brightness(85%);
	}
}

.githubButtons {
	user-select: none;
}

.previewWrapper {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;

	img {
		height: 30px;
	}

	br {
		width: 100%;
		content: '';
	}
}

.sr-only {
	position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Small screen */
@media (max-width: 600px) {
	.pageMain {
		display: flex;
		flex-direction: column;
	}

	.bodySection {
		&:not(:first-child) {
			margin-top: 20px;
			margin-left: 0;
		}
	}
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	body {
		background-color: #222;
		color: white;
	}

	.pageHeader {
		.pageSubtitle {
			color: #bbb;
		}
	}

	.textInput {
		background-color: #444;
		color: white;
	}

	.textOutput {
		background-color: #333;
		border-color: #111;
		color: white;
	}

	.copyButton {
		color: lightblue;
	}
}
